$royalBlue: #3962d6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// overwrite the intl phone pluging flag
.iti {
    width: 100%;
}

.iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.15/img/flags@2x.png");
    }
}


// custom color pllate 
.bg-blue {
    background-color: $royalBlue;
}

.text-blue {
    color: $royalBlue;
}

.btn-blue {
    color: #fff;
    background-color: $royalBlue;
    border-color: $royalBlue;

    &:hover {
        color: #fff;
    }
}

//image puzzle

#img-block {
    width: 450px;
    margin: auto;
    height: auto;
}

.puzzle-item {
    width: calc(100% / 3);
    height: calc(450px / 3);
    float: left;
    border: 1px solid silver;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

#tile1 {
    background-position: 0 0
}

#tile2 {
    background-position: -150px -0px
}

#tile3 {
    background-position: -300px -0px
}

#tile4 {
    background-position: -0 -150px
}

#tile5 {
    background-position: -150px -150px
}

#tile6 {
    background-position: -300px -150px
}

#tile7 {
    background-position: -0 -300px
}

#tile8 {
    background-position: -150px -300px
}

#tile9 {
    background-position: -300px -300px
}


// login and registration form desing 
label {
    display: inline-block;

    &.error {
        margin-bottom: 0;
        color: red;
    }
}

.tab {
    display: none;
    width: 100%;
    margin: 0px auto;
}

.current {
    display: block;
}

.form-control {
    width: 100% !important;
}

.hide {
    display: none;
}

.error {
    display: block;
}

#registrationForm,
#loginForm {
    position: relative;

    fieldset:not(:first-of-type) {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin: 0 2px;
        color: #fff;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.8;
        padding: 3px;

        &.active {
            opacity: 1;
            background-color: $royalBlue;
        }

        &.finish {
            background-color: $royalBlue;
        }

    }
}